body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

#root {
  height: 100%;
}

.map {
  width: 100vw;
  height: 100vh;
  position: relative;
  z-index: 1;
}

.message-form {
  position: absolute;
  right: 10px;
  top: 10px;
  z-index: 99;
}